 {{> post-info post }}
<!-- form and comments section-->
{{#if loggedIn}}
<!--- this form will only render if the user is loggin in-->
 <form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" class="upvote-btn">upvote</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

<!-- conditionally render the scripst, this logic should only be available to users that are loggin in-->
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}